body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Increase gap between email and phone sections */
    margin-bottom: 20px;
}

.contact-info div {
    width: 45%;
}

.contact-info h2 {
    margin-bottom: 10px;
    color: #333;
}

.contact-info p {
    margin: 5px 0;
    color: #555;
}

.contact-info a {
    color: #007BFF;
    text-decoration: none;
}
.contact-section {
    width: 45%;
}


.contact-info a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #333;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #5cb85c;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}
